<p style="color: green"><%= notice %></p>

<%= render @inventory %>

<div>
  <%= link_to "Edit this inventory", edit_admin_inventory_path(@inventory) %> |
  <%= link_to "Back to inventory", admin_inventory_path %>

  <%= button_to "Destroy this inventory", admin_inventory_path(@inventory), method: :delete %>
</div>
