<tr id="<%= dom_id rental %>">
  <td class="px-6 py-4"><%= rental.inventory.puzzle.name %></td>
  <td class="px-6 py-4"><%= rental.created_at %></td>
  <td class="px-6 py-4"><%= rental.status %></td>
  <td class="px-6 py-4"><%= rental.last_status_update_at %></td>
</tr>

