<%= form_with(model: rental, url: admin_rental_submit_review_path(rental), class: "space-y-6", html: { multipart: true }) do |form| %>
  <% if puzzle.errors.any? %>
    <div class="bg-red-100 text-red-700 border border-red-300 p-4 rounded">
      <h2 class="font-semibold">
        <%= pluralize(rental.errors.count, "error") %> prohibited this review from being saved:
      </h2>
      <ul class="mt-2 space-y-1">
        <% puzzle.errors.full_messages.each do |message| %>
          <li>• <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Name Field -->
  <div>
    <%= form.label :name, "Name", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
  </div>

  <!-- Brand Field -->
  <div>
    <%= form.label :brand, "Brand", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :brand, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
  </div>

  <!-- Description Field -->
  <div>
    <%= form.label :description, "Description", class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :description, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
  </div>

  <div>
    <%= form.label :image, "Image", class: "block text-sm font-medium text-gray-700" %>
    <%= form.file_field :image, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500 sm:text-sm" %>
  </div>

  <!-- Submit Button -->
  <div>
    <%= form.submit "Save Puzzle", class: "w-full bg-blue-600 text-white py-2 px-4 rounded-md shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %>
  </div>
<% end %>
