<div class="flex items-center justify-between" id="<%= dom_id(rental) %>">
    <div>
        <%= image_tag url_for(rental.puzzle.image), alt: rental.puzzle.name, class: "rounded-lg mb-4 w-56" %>
    </div>

    <div>
        <p class="text-lg font-medium">Puzzle: <span class="text-blue-500"><%= rental.inventory.puzzle.name %></span></p>
        <p class="text-sm text-gray-600">Return by date: <span class="text-gray-800"><%= (rental.created_at + 1.month).to_date %></span></p>
        <% if rental.show_tracking_link? %>
            <p class="text-sm text-gray-600">Tracking link: <%= link_to "Click here", rental.tracking_link, { class: "text-gray-800 underline" }  %></p>
        <% end %>
    </div>

    <div class="px-4 py-2 <%= rental_status_classes(rental.status) %> font-semibold rounded-full">
        <%= rental.status.titleize %>
    </div>
</div>