<ul class="text-sm text-gray-700 space-y-1" id="<%= dom_id contact %>">
  <li><span class="font-semibold text-teal-700">Name:</span> <%= contact.name %></li>
  <li><span class="font-semibold text-teal-700">Phone:</span> <%= contact.phone %></li>
  <li><span class="font-semibold text-teal-700">Address Line 1:</span> <%= contact.address_1 %></li>
  <li><span class="font-semibold text-teal-700">Address Line 2:</span> <%= contact.address_2 %></li>
  <li><span class="font-semibold text-teal-700">City:</span> <%= contact.city %></li>
  <li><span class="font-semibold text-teal-700">Postal Code:</span> <%= contact.postal_code %></li>
</ul>