<div id="<%= dom_id contact %>">
  <div>
    <p class="text-lg font-medium">Name: <span class="text-blue-500"><%= contact.name %></span></p>
  </div>
  <div>
    <p class="text-lg font-medium">Phone: <span class="text-blue-500"><%= contact.phone %></span></p>
  </div>
  <div>
    <p class="text-lg font-medium">Address Line 1: <span class="text-blue-500"><%= contact.address_1 %></span></p>
  </div>
  <div>
    <p class="text-lg font-medium">Address Line 2: <span class="text-blue-500"><%= contact.address_2 %></span></p>
  </div>
  <div>
    <p class="text-lg font-medium">City: <span class="text-blue-500"><%= contact.city %></span></p>
  </div>
  <div>
    <p class="text-lg font-medium">Postal Code: <span class="text-blue-500"><%= contact.postal_code %></span></p>
  </div>
</div>
