<tr id="<%= dom_id puzzle %>">
  <td class="px-6 py-4">
  <%= link_to puzzle.name, admin_puzzle_path(puzzle) %>
  </td>
  <td class="px-6 py-4"><%= puzzle.brand %></td>
  <td class="px-6 py-4"><%= puzzle.available_inventory.count %>/<%= puzzle.inventory.count %></td>
  <td class="px-6 py-4 flex">
    <%= link_to 'Edit', edit_admin_puzzle_path(puzzle), class: 'bg-blue-600 text-white px-3 py-1 rounded hover:underline hover:bg-blue-700' %>
    <%= button_to 'Delete', admin_puzzle_path(puzzle), class: 'ml-4 bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700', method: :delete %>
  </td>
</tr>
