    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-gray-700 text-lg">Total Users</h3>
        <p class="mt-4 text-3xl font-bold"><%= @user_counts[:total] %></p>
    </div>
    <div class="bg-white shadow rounded-lg p-6">
        <h3 class="text-gray-700 text-lg">Active Subscriptions</h3>
        <p class="mt-4 text-3xl font-bold"><%= @subscription_counts[:total] %></p>
    </div>
    </div>

    <!-- Table -->
    <div class="bg-white shadow rounded-lg mb-6">
    <div class="p-6 border-b border-gray-200 flex justify-between">
        <h3 class="text-gray-700 text-lg font-medium">Orders to be sent</h3>
        <%= link_to "See All Labels", admin_parcels_labels_path(rental_ids: @to_be_sent_rentals.map(&:id)), class: 'bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700' %>
    </div>
    <table class="min-w-full text-left divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Customer</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Puzzle</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Send Date</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Actions</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <% @to_be_sent_rentals.each do |rental| %>
            <tr>
                <td class="px-6 py-4"><%= link_to rental.user.email, admin_user_path(rental.user) %></td>
                <td class="px-6 py-4"><%= link_to rental.inventory.puzzle.name, admin_puzzle_path(rental.inventory.puzzle) %></td>
                <td class="px-6 py-4"><%= rental.last_status_update_at %></td>
                <td class="px-6 py-4">
                    <%= link_to "Label", admin_parcels_labels_path(rental_ids: rental.id), class: 'bg-blue-600 text-white px-3 py-1 rounded hover:bg-blue-700' %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
    </div>

    <!-- Table -->
    <div class="bg-white shadow rounded-lg">
    <div class="p-6 border-b border-gray-200">
        <h3 class="text-gray-700 text-lg font-medium">Orders recently updated</h3>
    </div>
    <table class="min-w-full text-left divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Customer</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Puzzle</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Status</th>
            <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase">Update Date</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
        <% @recently_updated_rentals.each do |rental| %>
            <tr>
                <td class="px-6 py-4"><%= link_to rental.user.email, admin_user_path(rental.user) %></td>
                <td class="px-6 py-4"><%= link_to rental.inventory.puzzle.name, admin_puzzle_path(rental.inventory.puzzle) %></td>
                <td class="px-6 py-4"><%= rental.status %></td>
                <td class="px-6 py-4"><%= rental.last_status_update_at %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    </div>