<tr id="<%= dom_id fine %>">
  <td class="px-4 py-2"><%= link_to fine.review.rental.puzzle.name, admin_rental_path(fine.review.rental) %></td>
  <td class="px-4 py-2"><%= fine.amount %></td>
  <td class="px-4 py-2"><%= fine.reason.titleize %></td>
  <td class="px-4 py-2"><%= fine.status.titleize %></td>
  <td class="px-4 py-2"><%= fine.updated_at %></td>
</tr>
