<!DOCTYPE html>
<html>
  <head>
    <title>RentAClue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <%= yield %>

    <!-- Footer -->
    <footer class="mt-12 text-center text-sm text-gray-600">
      <p>
        <%= link_to 'Terms and Conditions', terms_and_conditions_path %> - <%= link_to 'Privacy Policy', privacy_policy_path %>
      </p>

      <p>
        &copy; <%= Time.now.year %> Rent a Clue. All rights reserved.
      </p>
    </footer>
  </body>
</html>
