<!DOCTYPE html>
<html>
  <head>
    <title>RentAClue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <div class="max-w-7xl mx-auto py-8 px-4">
      <%= yield %>

      <!-- Footer -->
      <footer class="mt-12 text-center text-sm text-gray-600">
        &copy; 2024 Puzzle Subscription Service. All rights reserved.
      </footer>
    </div>
  </body>
  </body>
</html>
