<!DOCTYPE html>
<html>
  <head>
    <title>RentAClue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <div class="max-w-7xl mx-auto py-8 px-4">
      <section class="mb-8">
        <h1 class="text-4xl font-bold text-center mb-6">Rent a Clue!</h1>

        <%= yield %>
      </section>

      <!-- Footer -->
      <footer class="mt-12 text-center text-sm text-gray-600">
        &copy; <%= Time.now.year %> Rent a Clue. All rights reserved.
      </footer>
    </div>
  </body>
  </body>
</html>
