<!DOCTYPE html>
<html>
  <head>
    <title>RentAClue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <%= yield %>

    <!-- Footer -->
    <footer class="mt-12 text-center text-sm text-gray-600">
      <p>
        <%= link_to 'Terms and Conditions', terms_and_conditions_path %> - <%= link_to 'Privacy Policy', privacy_policy_path %>
      </p>

      <p>
        &copy; <%= Time.now.year %> Rent a Clue. All rights reserved.
      </p>
    </footer>

    <% if flash.any? %>
      <div
        id="flash-message"
        data-controller="flash"
        data-flash-timeout-value="4000"
        class="fixed bottom-6 inset-x-0 flex justify-center z-50 pointer-events-none"
      >
        <% flash.each do |key, message| %>
          <% if key == 'notice' %>
            <div class="pointer-events-auto max-w-sm w-full bg-teal-500 text-white px-4 py-3 rounded shadow transition-opacity duration-500 ease-in-out"
                data-flash-target="message">
              <%= message %>
            </div>
          <% elsif key == 'alert' %>
            <div class="pointer-events-auto max-w-sm w-full bg-red-500 text-white px-4 py-3 rounded shadow transition-opacity duration-500 ease-in-out"
                data-flash-target="message">
              <%= message %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </body>
</html>
