<%= turbo_stream_from @user %>

<!-- Hero Section -->
<section class="relative h-[20vh] md:h-[30vh] sm:h-[25vh] bg-center bg-cover flex flex-col justify-center items-center text-white text-center px-4" style="background-image: url('<%= asset_path('hero.jpeg') %>');">
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10">
    <h1 class="text-4xl font-extrabold">Manage Account</h1>
  </div>
  <div class="absolute top-4 left-4 text-2xl font-extrabold z-10">Rent A Clue!</div>
</section>

<!-- Dashboard Content -->
<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
  <div class="mb-6">
    <!-- Current Rental -->
    <div class="bg-white rounded-xl shadow p-6 md:col-span-2 mb-6">
      <div class="flex">
        <h2 class="text-lg font-semibold mb-4 flex-grow">Current Rental</h2>
        <% if @active_rental %>
          <span class="h-[1.7rem] flex-shrink px-3 py-1 text-xs <%= rental_status_classes(@active_rental.status) %> rounded-full font-medium"><%= @active_rental.status.titleize %></span>
        <% end %>
      </div>

      <%= turbo_frame_tag "fine" do %>
        <%= render @fine, { class_name: 'sm:hidden block'} if @fine.present? %>
      <% end %>

      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 ">
        <% if @active_rental %>
          <%= render @active_rental %>
        <% else %>
          No active Rental
        <% end %>

        <%= turbo_frame_tag "fine" do %>
          <%= render @fine, { class_name: 'hidden sm:block'} if @fine.present? %>
        <% end %>
      </div>
    </div>

    <div class="grid md:grid-cols-2 gap-6 mb-6">
      <!-- Subscription Status -->
      <div class="bg-white rounded-xl shadow p-6">
        <div class="flex">
          <h2 class="text-lg font-semibold mb-4 flex-grow">Subscription</h2>

          <% if @subscription.active %>
            <span class="h-[1.7rem] flex-shrink px-3 py-1 text-xs bg-teal-100 text-teal-600 rounded-full font-medium">Active</span>
          <% else %>
            <span class="h-[1.7rem] flex-shrink px-3 py-1 text-xs bg-red-100 text-red-600 rounded-full font-medium">Inactive</span>
          <% end %>
        </div>
        <p class="text-sm text-gray-700"><span class="font-semibold text-teal-600">Plan:</span> Monthly</p>
        <p class="text-sm text-gray-700 mt-1">Next Billing date: <%= @subscription.last_payment_date.present? ? @subscription.last_payment_date + 1.month : '-' %></p>
      </div>

    <!-- Shipping Details -->
    <div class="bg-white rounded-xl shadow p-6">
      <div class="flex justify-between items-center mb-4">
        <h2 class="text-lg font-semibold">Shipping Details</h2>
        <%= link_to "Edit", "", class: "text-sm text-teal-600 hover:underline" %>
      </div>
      <% if @contact %>
        <%= render @contact %>
      <% else %>
        <%= link_to "Add shipping details", new_contact_path, class: 'mx-auto px-6 py-2 bg-green-600 hover:bg-green-900 text-white' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
